<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="siteFooter">
    <footer>
        <section class="logo">
            <a th:href="@{/}">
                <img src="/images/icons/logo.svg" alt="logo" />
                <h3>阿和的購物網站</h3>
            </a>
        </section>
        <section class="links">
            <a href="#"><img title="facebook" src="/images/icons/facebook.svg" /><p>Facebook</p></a>
            <a href="#"><img title="instagram" src="/images/icons/instagram.svg" /><p>Instagram</p></a>
            <a href="#"><img title="youtube" src="/images/icons/youtube.svg" /><p>YouTube</p></a>
            <a href="#"><img title="line" src="/images/icons/line.svg" /><p>LINE官方帳號</p></a>
        </section>
    </footer>
</div>
</body>
</html>
