<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="siteHeader">
    <header class="header">
        <div class="header-left">
            <a class="logo" th:href="@{/}">
                <img src="/images/icons/logo.svg" alt="阿和的購物網站" />
                <h1>馬上開始SHOOPING!~</h1>
            </a>
        </div>
        <nav class="header-right">
            <ul>
                <li><a th:href="@{/}">回首頁</a></li>

                <!-- 顯示會員登入狀態 -->
                <li th:if="${member == null}">
                    <a th:href="@{/login}">會員（未登入）</a>
                </li>
                <li th:if="${member != null}">
                        <a th:href="@{/member}">
                        會員（<span th:text="${member.name}">會員</span>）
                    </a>
                </li>

                <li><a th:href="@{/order/list}">訂單查詢</a></li>
                <li>
                    <a th:href="@{/cart}">
                        購物車 (<span id="cart-count" th:text="${cartCount}">0</span>)
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div>
</body>
</html>
