<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="siteHeader">
    <header class="header">
        <div class="header-left">
            <a class="logo" th:href="@{/}">
                <img src="/images/icons/logo.svg" alt="阿和的購物網站" />
                <h1>馬上開始SHOOPING!~</h1>
            </a>
        </div>

        <nav class="header-right">

            <ul>
                <li><a th:href="@{/}">回首頁</a></li>

                <!-- 未登入：顯示登入 -->
                <li th:if="${member == null}">
                    <a th:href="@{/login}">會員（未登入）</a>
                </li>

                <!-- 一般會員：顯示會員中心連結 -->
                <li class="m-member" th:if="${member != null and member.role != 'ADMIN'}">
                    <a th:href="@{/member}">
                        會員（<span th:text="${member.name}">會員</span>）
                        <a th:href="@{/logout}" class="btn btn-outline-danger"><span>登出</span></a>
                    </a>

                </li>

                <!-- 管理員：導向管理員後台 -->
                <li th:if="${member != null and member.role == 'ADMIN'}">
                    <a th:href="@{/admin/dashboard}">
                        管理員（<span th:text="${member.name}">管理員</span>）
                    </a>
                </li>

                <!-- 一般會員限定功能：訂單查詢 -->
<!--                <li th:if="${member != null and member.role != 'ADMIN'}">-->
                <li >
                    <a th:href="@{/order/list}">訂單查詢</a>
                </li>

                <!-- 管理員限定功能 -->
                <li th:if="${member != null and member.role == 'ADMIN'}">
                    <a th:href="@{/admin/orders}">訂單管理</a>
                </li>
                <li th:if="${member != null and member.role == 'ADMIN'}">
                    <a th:href="@{/admin/members}">會員管理</a>
                </li>

                <!-- 所有人登入後都能看購物車 -->
                <li >
                    <a th:href="@{/cart}">
                        購物車 (<span id="cart-count" th:text="${cartCount}">0</span>)
                    </a>
                </li>
            </ul>
        </nav>
    </header>

</div>


<script>

    if (window.location.search.includes("logout=true")) {
        alert("您已成功登出！");
        window.history.replaceState(null, "", window.location.pathname);
    }
</script>
</body>
</html>
