* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 10px 6px -6px #777;
}
body header a.logo {
  flex: 2 1 400px;
  align-items: center;
  display: flex;
  text-decoration: none;
}
body header a.logo img {
  width: 6vw;
  height: 6vw;
}
body header a.logo h1 {
  font-size: 2.5rem;
  color: black;
}
body header nav {
  flex: 5 1 500px;
}
body header nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
}
body header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.35rem;
  transition: all 0.2s ease;
}
body header nav ul li a:hover {
  color: #33ffff;
}
body main h3 {
  color: red;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main section.background-img {
  border: 1px solid rgb(202, 197, 197);
  min-height: 50vh;
  background-image: url("../images/product_images/product_image1.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.75s ease;
  margin: 5px 100px 20px 100px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.background-img div.filter {
  width: 100%;
  min-height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body main section.info-products {
  background-color: white;
  padding: 2rem 1rem;
}
body main section.info-products section.info-right {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
body main section.info-products section.info-right h3 {
  color: black;
  text-align: left;
  font-size: 2rem;
  padding: 1rem;
}
body main section.info-products section.search {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  max-width: 500px;
}
body main section.info-products section.search .search-button {
  width: 64px;
  height: 41px;
  background-color: rgb(240, 240, 240);
  border-radius: 0 5px 5px 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(192, 192, 192, 0.5);
  cursor: pointer;
}
body main section.info-products section.search .search-button:hover {
  background-color: #33ffff;
}
body main section.info-products section.search .search-button .search-icon {
  height: 24px;
}
body main section.info-products section.search .search-input {
  flex: 1;
  height: 39px;
  border-radius: 5px 0 0 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 192, 0.5);
  padding-left: 12px;
  font-size: 16px;
  width: 100px;
}
body main section.info-products form {
  display: block;
  border-bottom: 2px solid rgba(247, 243, 243, 0.7607843137);
  text-align: right;
}
body main section.info-products form p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
body main section.info-products section.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
body main section.info-products section.product-grid div.products div.product {
  padding: 1rem;
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.info-products section.product-grid div.products div.product a {
  text-decoration: none;
}
body main section.info-products section.product-grid div.products div.product a img {
  width: 80%;
  border-color: #33ffff;
  transition: all 0.1s ease-in;
  padding: 0.3rem;
}
body main section.info-products section.product-grid div.products div.product a img:hover {
  border: 3px solid #33ffff;
}
body main section.info-products section.product-grid div.products div.product a p {
  font-size: 16px;
  color: black;
  flex-direction: column;
  align-items: center;
}
body main section.info-products section.product-grid div.products div.product a p.discount-price {
  font-weight: 900;
  font-size: 20px;
  color: red;
  /* word-break: break-all; */
}
body main section.info-products section.product-grid div.products div.product a .origin-price {
  font-weight: 200;
  font-size: 16px;
  color: gray;
  text-decoration: line-through;
}
body main section.info-products section.product-grid div.products div.product a form {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main section.info-products section.product-grid div.products div.product a form button {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main div.cnt_page {
  margin: 10px;
  padding: 7px 5px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-color: #eaeaea;
  clear: both;
}
body main div.cnt_page .page {
  font-size: 100%;
}
body main div.cnt_page .page span.here {
  margin: 0 1px;
  padding: 5px;
  font-weight: 700;
  color: #ffffff;
  background: #333333;
}
body main div.cnt_page .page a {
  margin: 0;
  display: inline-block;
  border: 1px solid #d1d1d1;
  padding: 5px 6px;
  text-decoration: none;
  color: #5a5a5a;
  background: #ffffff;
}
body main div.cnt_page .page a:-webkit-any-link {
  cursor: pointer;
}
body main div.cnt_page .page a {
  outline: none;
}
body footer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
body footer section.logo {
  text-align: center;
}
body footer section.logo a {
  text-decoration: none;
}
body footer section.logo h3 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
body footer section.logo img {
  width: 10vw;
}
body footer section.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
}
body footer section.links a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
body footer section.links a img {
  width: 5vh;
  margin: 0.5rem 0.5rem;
}
body footer section.links a p {
  align-items: center;
  margin: 0.5rem 0.5rem;
}

@media screen and (max-width: 700px) {
  header section.logo {
    flex-direction: column;
  }
  header section.logo img {
    width: 30vw;
    height: 30vw;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    padding: 0.5rem 0.25rem;
  }
  body section.background-img {
    height: auto;
  }
  body div.filter {
    height: auto;
  }
}

/*# sourceMappingURL=home.css.map */
